



/* fuente para titulos
font-family: "Montserrat", sans-serif; */
/* fuente para texto
font-family: "Playfair Display", serif; */

/* sytle header */


/* fin style header */

/* style main */

/* Pagina Inicio */



/* Fin pagina Inicio */

/* Pagina Aventuras */



/* Fin pagina Aventuras */

/* Pagina Destinos */



/* Fin pagina Destinos */

/* Pagina Acerca de */



/* Fin pagina Acerca de */

/* Pagina Contacto */

.contactoContenedor {
    border: 1px solid #025939;
    border-radius: 10px;
    padding: 150px;
    margin: 10px;
    color: #025159;
    font-family: "Playfair Display", serif;
}

.nuestrosContactosContenedor {
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 20px;
}

.tituloContactoFormulario {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.nuestrosContactosContenido {
    align-items: center;
    color: #BF3604;
    font-size: 1.1rem;
}

.contactoForm {
    align-content: center;
    gap: 10px;
}

.carruselContenedor {
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(191, 73, 4, 0.2);
}

.tituloCarrusel {
    font-family: "Montserrat", sans-serif;
    color: #BF3604;
    font-size: 1.3rem;
    text-align: center;
    padding: 30px;
}

.carruselEstructura {
    width: 60%;
}

.carruselIndicadores {
    color:#FBF3E5;
}

.carruselIndicadores .active {
    background-color: #BF3604;
}

.carruselControles {
    width: 60px;
    height: 60px;
    background-color: #BF4904;
    border-radius: 50%;
    top: 50%;
}

.carousel-item {
    height: 90vh;
    padding: 40px;
}

.carruselImagenes img {
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* MQ Pagina Contacto */

@media (max-width: 576px) {
    .contactoContenedor {
        padding: 20px;
    }
    .tituloContactoFormulario {
        font-size: 1.1rem;
    }
    .nuestrosContactosContenedor {
        width: 80%;
    }
    .tituloCarrusel {
        font-size: 1.1rem;
    }
    .carruselEstructura {
        width: 90%;
        height: 90vh;
    }
}

/* Fin pagina Contacto */

/* fin style main */

/* style footer */

footer {
    font-family: "Playfair Display", serif;
}

.footerContenedor {
    width: 100%;
}

.logoContenedor {
    margin-bottom: 10px;
}

.logoFooter {
    margin: 5px;
    width: 7rem;
}

.navegadorFooter {
    margin-bottom: 10px;
}

.navegadorFooter nav {
    align-items: end;
}

.navegadorFooter a {
    text-decoration: none;
    color: #025159;
    padding: 2px 7px 2px 7px;
    font-family: "Playfair Display", serif;
}

.navegadorFooter li a:hover {
    color: #BF4904;
}

.navegadorFooter ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 2rem;
}

.navegadorActivo {
    border: 1px solid #BF4904;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(191, 73, 4, 0.1);
}

.footerRedes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 10px;
}

.footerRedes img {
    width: 70%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: 4px;
}

footer p {
    text-align: right;
    color: #025159;
    margin-right: 2rem;
}

.footerRedes a:hover {
    color: #BF4904;
}

.footerRedes img:hover {
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.4);
}

/* MQ Footer */

@media (max-width: 576px) {
    .footerContenedor {
        align-content: center;
    }
    .logoFooter {
        width: 5rem;
    }
    .logoContenedor {
        margin-bottom: 0;
        text-align: center;
    }
    .navegadorFooter ul {
        font-size: 15px;
        justify-content: center;
    }
    .footerRedes {
        justify-content: center;
        margin-bottom: 10px;
    }
    footer p {
        text-align: center;
        margin: 0;
        padding: 30px;
    }
}

/* fin style footer */
