@use "variables";
@use "mixins";

/* Inicio style footer */

.footerContenedor {
    border-top: 1px solid variables.$color-titulos;
}

footer {
    font-family: variables.$fuente-texto;
    p{
        text-align: center;
        color: variables.$color-detalles;
        margin-right: 2rem;
    }
}

.logoContenedor {
    margin-bottom: 10px;
}

.logoFooter {
    margin: 5px;
    width: 7rem;
}

.navegadorFooter {
    margin-bottom: variables.$espaciado-base;
    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: flex-end;
        margin: 40px 2rem 0 0;
        a {
            text-decoration: none;
            color: variables.$color-detalles;
            padding: 2px 7px;
            font-family: variables.$fuente-texto;
            @include mixins.hover-color(variables.$color-titulos);
        }
    }
}

.navegadorActivo {
    border: 1px solid variables.$color-titulos;
    border-radius: 5px;
    @include mixins.box-shadow;
    background-color: variables.$color-caja-color-solido;
}

.footerRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    img {
        width: 70%;
        margin-right: 4px;
    }
    a {
        &:hover {
            color: variables.$color-titulos;
        }
    }
}

.footerColor {
    background-color: variables.$color-caja-color-solido;
}

/* Media queries footer */

@media (max-width: 576px) {
    .footerContenedor {
        align-content: center;
    }
    .logoFooter {
        width: 5rem;
    }
    .logoContenedor {
        margin-bottom: 0;
        text-align: center;
    }
    .navegadorFooter ul {
        font-size: 15px;
        justify-content: center;
    }
    .footerRedes {
        justify-content: center;
        margin-top: 10px;
    }
    footer p {
        text-align: center;
        margin: 0;
        padding: 30px;
    }
}

/* Fin style footer */