@use "mixins";
@use "variables";

/* Inicio style header */

header {
    position: relative;
}

.headerContainer {
    margin: 10px;
    height: 5rem;
    @include mixins.flex (row, space-between, center);
}

.logo {
    width: 7rem;
    margin: 5px;
}

.navegadorHeader {
    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        margin-right: 2rem;
        a {
            text-decoration: none;
            color: variables.$color-detalles;
            padding: 2px 7px;
            font-family: variables.$fuente-texto;
            @include mixins.hover-color(variables.$color-titulos);
        }
    }
}

.navegadorActivo {
     border: 1px solid variables.$color-titulos;
     border-radius: 5px;
     background-color: variables.$color-caja-color-solido;
     @include mixins.box-shadow;
}

.bannerContainer {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.banner img {
    width: 100%;
    height: variables.$altura-banner;
    opacity: 0.6;
    display: block;
}

.bannerContenido {
    @include mixins.centrado-absoluto;
    font-family: variables.$fuente-titulos;
    color: variables.$color-texto;
    font-size: 35px;
    padding: 5px;
    @include mixins.sombra-texto;
}

.botonSuscribirse {
    @include mixins.boton-var-1;
    @include mixins.box-shadow;
    &:hover {
        @include mixins.sombra-hover;
    }
}

/* Media queries header */

@media (max-width: 576px) {
    .headerContainer {
        @include mixins.flex-mobile (column, center);
        margin: 5px;
        height: 10rem;
    }
    .logo {
        width: 5rem;
    }
    .navegadorHeader {
        align-items: center;
        ul {
            font-size: 15px;
        }
    }
    .banner img {
        height: variables.$altura-banner-mobile;
    }
    .bannerContenido p {
        font-size: 20px;
    }
}

/* Fin style header */