@use "mixins";
@use "variables";


body {
    background-color: variables.$color-fondo;
}

/* Inicio style pagina inicio */

h2 {
    @include mixins.h2;
}

.cardsAventurasInicio {
    @include mixins.flex(row, space-evenly, center);
    margin: variables.$espaciado-base;
}

.cardsAventurasInicioContenido {
    background-color: variables.$color-fondo-cards;
    border-radius: variables.$border-radius;
    @include mixins.cards-shadow;
    a {
        text-decoration: none;
    }
    h3 {
        @include mixins.h3(1.4rem, 0 0 10px 0, center);
        font-weight: bold;
        @include mixins.hover-color (variables.$color-titulos);
    }
    img {
        height: variables.$altura-card-inicio;
        padding: variables.$espaciado-base;
        width: 100%;
        object-fit: contain;
    }
}

.cardsDestinoDestacado {
    display: flex;
    flex-wrap: wrap;
    height: variables.$altura-card-inicio;
    gap: variables.$gap-card;
    margin: variables.$margim-card;
    padding: variables.$padding-card;
    background-color: variables.$color-cards-gradiente;
    background: radial-gradient(circle,rgba(235, 228, 228, 1) 0%, rgba(245, 245, 245, 1) 100%);
    border-radius: variables.$border-radius;
    @include mixins.cards-shadow;
}

.textoDestinoDestacado {
    flex: 40%;
    font-family: variables.$fuente-texto;
    margin: 50px 0 0 10px;
    h4 {
        font-size: 1.4rem;;
        margin-bottom: 0.5rem;
        font-family: variables.$fuente-titulos;
        color: variables.$color-titulos;
    }
    p {
        line-height: 1.6;
        font-size: 1.3rem;
        color: variables.$color-detalles;
    }
}

.mapaDestinoDestacado {
    flex: 1 1 55%;
    border-radius: variables.$border-radius-mapa;
    overflow: hidden;
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.seccionInscribirse {
    position: relative;
    width: 100%;
    margin: 10px 0;
    img {
        width: 100%;
        height: 500px;
        opacity: 0.4;
        display: block;
    }
}

.seccionInscribirseContenido {
    @include mixins.centrado-absoluto;
    font-family: variables.$fuente-texto;
    color: variables.$color-texto;
    font-size: 20px;
}

.seccionInscribirseBoton {
    @include mixins.boton-var-2;
    @include mixins.box-shadow;
    &:hover {
        @include mixins.sombra-hover;
    }
}

/* Media queries pagina inicio */

@media (max-width: 576px) {
    .cardsAventurasInicio {
        @include mixins.flex-mobile (column,center);
        gap: variables.$gap-card-mobile;
    }
    .cardsAventurasInicioContenido {
        width: 70%;
    }
    .cardsDestinoDestacado {
        gap: 1px;
        flex-direction: column;
    }
    .textoDestinoDestacado {
        margin-top: 10px;
        p {
            font-size: 1rem;
            margin-bottom: 1px;
        }
    }
    .mapaDestinoDestacado iframe {
        height: 250px;
    }
    
}

/* Fin style pagina inicio */