$color-fondo: #FBF3E5;
$color-titulos: #BF4904;
$color-texto: #025939;
$color-detalles: #025159;
$color-detalles-secundario: #BF3604;

$fuente-titulos: "Montserrat", sans-serif;
$fuente-texto: "Playfair Display", serif; 

$espaciado-base: 10px;

$altura-banner: 500px;
$altura-banner-mobile: 300px;
